.input :focus {
    outline: none;
}
  
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    max-width: 270px;
    border-radius: 5px;
} 

.ui-menu-item {
    padding: 5px;
    cursor: pointer;
}

.ui-menu-item:hover {
    background-color: #f0f0f0;
}

.target {
    background-color: #f0f0f0;
}

.search-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size : 18px;
    background: none;
    border: none;
    font-family: 'Playfair Display', serif;
}
/* .graph-container{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    justify-items: center;
    text-align: justify;
} */
.search-section input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
    background-color: plum;
    width: 200px;
}

.option-algo{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size : 18px;
    background-color: antiquewhite;
}
.search-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size : 18px;
    background-color:none;
}
.to {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}

.button-bfs {
    background-color: aqua;
    border: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.nama-algo{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
   font-style: italic; 
}