
.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B29DE8; /* Warna latar belakang ungu */
    border-radius: 5px; /* Sudut bulat */
    padding: 8px; 
}
.input :focus {
    outline: none;
}
  